#card1
{
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}
#card2
{
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: 1s;
}
.pic
{
    height: 200px;
    border-radius: 5px 5px 0 0 ;
}

.container
{
    display: inline-block;
}

.desc
{
    padding: 0 2px 0 2px;
}

#card1:hover
{
    box-shadow: 0 8px 16px black;
}

#card2:hover
{
    box-shadow: 0 8px 16px black;
}