#mainTopic
{
    color: blue;
}

*
{
    text-align: center;
    font-family: Georgia;
}

.content
{
    background-color: cornflowerblue;
    color: white;
}

div button
{
    background-color: purple;
    color: azure;
}

div button:hover
{
    background-color: yellow;
    color: blue;
}

p:first-of-type , p:last-of-type
{
    color: yellow;
}

h1::first-letter
{
    color: red;
}

#yes:checked + label
{
    color: darkgreen
}
