div
{
    height: 200px;
    width: 500px;
    background-color: pink;
    border: 5px solid black;

    border-radius: 10px;

    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;

    margin: 20px;
}

h1
{
    border: 2px dashed green;
    margin: 0;
}

button
{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
}