.container
{
    height: 150px;
    border: 2px solid black;
    width: 50px;
}

#red
{
    height: 40px;
    width: 40px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    padding-left: 1px;
    margin-left: 3px;
}

#yellow
{
    height: 40px;
    width: 40px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50%;
    padding-left: 1px;
    margin-left: 3px;
    margin-top: 5px;
}

#green
{
    height: 40px;
    width: 40px;
    background-color: green;
    border: 2px solid black;
    border-radius: 50%;
    padding-left: 1px;
    margin-left: 3px;
    margin-top: 5px;
}