i
{
    color: crimson;
}

span
{
    color: brown;
}

.card
{
    border: 2px solid black;
    border-radius: 25px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

img
{
    border-radius: 25px;
    width: 100%;
}

p
{
    margin-left: 10px;
}

h3
{
    margin-left: 10px;
}

#pets
{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 375px) 
{
    #pets
    {
        flex-wrap: wrap;
    }
}
