.box
{
    height: 100px;
    width: 100px;
    background-color: gray;
    font-size: 3em;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.container
{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid rgb(16, 182, 182);
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.container2
{
    border: 2px solid black;
    height: 50px;
    width: 900px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: pink;
    border: 2px solid lightseagreen;
    border-radius: 10px;
}

.option
{
    margin-left: 5px;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    font-size: 24px;
    line-height: 50px;
}